<h1 class="page-title">ABOUT</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="about">
				<h3>Be The Ref</h3>
				<h6>v1.0</h6>
				<hr>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="about">
				<p>BeTheRef is a second screen football App that lets you make in-play calls whilst watching live matches to see if you know more about the beautiful game than the ref, the pundits, your mates and rival fans. See it, call it. That’s all there is to it.</p>
				<p>The App is currently in its Alpha testing phase, and we’ll be making many improvements and additions over the coming months as we head towards full launch later in the year. As we build and refine the experience we’d love to hear your thoughts and feedback @BeTheRefApp.</p>
				<section class="share">
		      <div class="row text-center">
		        <div class="col-xs-12">
		          <hr>
		          <a href="#/twitter/:id"><i class="social-icon fa fa-twitter"></i></a>
		        </div>
		      </div>
		    </section>
			</div>
		</div>
	</div>
</div>

