<div class="container admin-container">
	<div class="row">
	  <div class="col-md-12 text-center">
			<img src="/img/logo_splash_screen.png" class="login-logo" alt="Be The Ref"/>
	  </div>
	  <div class="row">
			<div class="admin-quickbar text-center">
				<h1>Admin</h1>
				<hr>
				<h4>Total online players:</h4>
				<h3>{{totalPlayers}}</h3>
				<hr>
				<a href="#/matches">Matches</a> <span>/</span> <a href="#/questions">Questions</a> <span>/</span> <a href="#/teamsheets">Teams</a> <span>/</span> <a href="#/answers">Post a Question</a> <!-- <span>/</span> --> <!-- <a href="#/scores">Scores</a> -->
				<hr>
			</div>
	  </div>
	</div>
</div>