<h1 class="page-title">SETTINGS</h1>
<section class="container">
  <div class="row">
    <form action="">                                        
      <input id="oldPassword" type="password" ng-model="currentPassword" class="form-control" placeholder="Current Password" required>  
      <br>
      <hr>
      <br>                                       
      <input id="newPassword" type="password" ng-model="newPassword" class="form-control" placeholder="New Password" required>
      <input id="confirmNewPassword" type="password" ng-model="confirmPassword" class="form-control" placeholder="Confirm New Password" required>
      <button ng-click="changePassword(currentPassword, newPassword, confirmPassword)" class="btn btn-primary btn-profile">Done</button>
    </form>
  </div>
</section>