<section class="login container text-center">
  <div class="row">
    <div class="col-xs-12">
      <img src="/img/logo_splash_screen.png" class="login-logo" alt="Be The Ref"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <input class="form-control" placeholder="Email" type="email" ng-model="email" required="" />
      </form>
      <button class="btn register btn-login" ng-click="forgotPassword()">Submit</button>
      <hr>
      <a href="#/" class="btn-text">Back</a>
    </div>
  </div>
</section>