<section class="container text-center">
	<div class="container loading-screen">
		<img src="/img/logo_splash_screen.png" style="width: 250px; margin: 0 auto;" class="img-responsive" alt="loading"/>
	 <h2>you see it... you call it...</h2>
	</div>
</section>

<section class="login container text-center" style="display: none;">
  <div class="row">
  	<div class="col-xs-12">
  		<img src="/img/logo_splash_screen.png" class="login-logo" alt="Be The Ref"/>
  	</div>
  </div>
  <div class="row">
  	<div class="col-xs-12">
			<a href="#/login" class="btn sign-in btn-login">Sign In</a>
  	</div>
  </div>
  <div class="row" style="margin-top: 20px;">
  	<div class="col-xs-12">
			Don't have an account yet?
			<a href="#/register" class="btn register btn-login">Register Free</a>
  	</div>
  </div>
</section>