<h1 class="page-title">TUTORIALS</h1>

<section class="tutorial-landing-page">
	<div class="container-fluid col-no-padding">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img src="/img/logo_splash_screen.png" style="margin: 10px 0;" class="login-logo" alt="Be The Ref"/>
				<p><strong>Welcome to BeTheRef</strong>, your chance to make in-play calls during live matches and prove you know more about the beautiful game than the ref, the pundits, your mates and rival fans.</p>
				<strong><em>See it. Call it...</em></strong>
				<br>
				<button ng-click='launchTutorial()' class="btn btn-tutorial" href="tutorial-slides">View Tutorial</button>
        <br>
        <h4><em><a class="no-style-link" href="#/login">Let me get stuck in</a></em></h4>
        <br>
			</div>
		</div>
	</div>
</section>

<section class="tutorial-slides" style="display: none;">
  <div class="container col-no-padding">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="tutorial-slider" class="owl-carousel">

          <!-- Slide 1 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Get to know the game</h3>
            <p style="text-align: center;"><strong>BeTheRef</strong> is an in-play App that lets you make calls on key incidents during live matches to see if you know than the ref, pundits, your mates and rival fans.</p>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>1/11</div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Homepage profile</h3>
            <p>From your Home page you can see your profile information including your name, the team you support and your BeTheRef Score, Average Accuracy and League position.</p>
            <img src="img/tut_profile.svg" class="tutorial-image img-responsive" alt="Your profile"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>2/11</div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Accessing the main menu</h3>
            <p>You can change your personal information from the Settings tab that's accessible from the main menu.</p>
            <img src="img/tut_menu_access.svg" class="tutorial-image img-responsive" alt="Access the menu"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>3/11</div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Quick access to matches</h3>
            <p>The next BeTheRef match is displayed on your home page along with a countdown timer. When the match kicks off, tap the words <span class="yellow">TOUCH HERE TO START</span> to begin playing.</p>
            <img src="img/tut_match_quick_access.svg" class="tutorial-image img-responsive" alt="Quick access the matches"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>4/11</div>
            </div>
          </div>

          <!-- Slide 5 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>In play questions</h3>
            <p>During the match you'll be asked in-play questions about a variety of subjects including real time refereeing decisions, triva, player/team statistics, player ratings, managerial decision and in-play calls.</p>
            <img src="img/tut_inplay_initial_question.svg" class="tutorial-image img-responsive" alt="In play questions"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>5/11</div>
            </div>
          </div>

          <!-- Slide 6 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>In play questions</h3>
            <p>You have ten seconds to answer each question from a multiple choice selection of answers. The quicker you answer, the more points you'll score... but only if you get it right... obviously.</p>
            <img src="img/tut_inplay_questions.svg" class="tutorial-image img-responsive" alt="In play questions"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>6/11</div>
            </div>
          </div>

          <!-- Slide 7 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Points scoring</h3>
            <p>Here's how the scoring works...</p>
            <img src="img/tut_points_scoring.svg" class="tutorial-image img-responsive" alt="Points system"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>7/11</div>
            </div>
          </div>

          <!-- Slide 8 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>League tables</h3>
            <p>After each question your BTR League Position, BTR Score and Decision Accuracy will change to reflect your overall scores and rankings.</p>
            <img src="img/tut_player_ranking.svg" class="tutorial-image img-responsive" alt="Player ranking"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>8/11</div>
            </div>
          </div>

          <!-- Slide 9 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>League tables</h3>
            <p>You can view the League Table from the menu. In case you're wondering, Average Accuracy works in a similar manner to GoalDifference in a normal football league.</p>
            <img src="img/tut_league_table.svg" class="tutorial-image img-responsive" alt="League tables"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>9/11</div>
            </div>
          </div>

          <!-- Slide 10 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Twitter interaction</h3>
            <p>If you want to get invloved on Twitter, just use the hashtag <span class="yelllow">#BeTheRefApp</span>. You may even see your comment on the Home Page Twitter feed.</p>
            <img src="img/tut_twitter.svg" class="tutorial-image img-responsive" alt="Twitter"/>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>10/11</div>
            </div>
          </div>

          <!-- Slide 11 -->
          <div class="item tutorial-slide">
            <a href="#/login"><div class="close-tutorial"><i class="fa fa-times"></i></div></a>
            <h3>Start playing</h3>
            <p>That's it. You're ready to start playing. See it, call it. It's as simple as that...</p>
            <div style="text-align: center;">
              <br>
              <a class="btn btn-tutorial" href="#/login">Let me get stuck in</a>
              <br>
            </div>
            <div class="slide-count">
              <hr style="opacity: 0.5;">
              <div>11/11</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>