<h1 class="page-title">Twitter</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12" id="twitterLoad">
      <div class="timeline-footer" data-scribe="section:footer">
        <a class="tweet-box-button web-intent" href="https://twitter.com/intent/tweet?hashtags=betherefapp" data-scribe="element:timeline_permalink">Tweet #betherefapp</a>
      </div>

      <a class="twitter-timeline" data-theme="dark" data-chrome="noheader noscrollbar transparent" href="https://twitter.com/hashtag/betherefapp" data-widget-id="565561771956899840">#BeTheRefApp Tweets</a>
    </div>
  </div>

  <footer>
    <div class="col-xs-12 col-no-padding">
      <div class="footer-block">
        <a href="#/live-matches/:id" style="cursor: pointer;">
          Live Match
        </a>
      </div>
    </div>
  </footer>

</div>

